*
{
    padding: 0;
    margin: 0;
}
#contact 
{
    background-image: linear-gradient(),url(images/logo.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-top: 60px;
    padding-bottom: 60px;
    color: grey;
    box-shadow: 0 0 20px 100px(rgba(255, 255, 255, 0.6));
}
.contact-form
{
    padding: 15px;
}
.form-control
{
    border-radius: 0 !important;
    border: none !important;
}
::placeholder
{
    color: #999 !important;
    padding: 20px;
    margin: 10px;
}
.follow
{
    background: #fff;
    padding: 10px;
    margin: 15px;
}
.contact-info .fa
{
    margin: 30px;
    color: #007bff;
    font-weight: bold;
}
.follow .fa
{
    margin: 10px;
    color: #007bff;
    font-weight: bold;
    border-radius: 75%; 
}
.carousel-caption h5
{
    font-family: 'Times New Roman', Times, serif;
    font-size: 100px;

}